footer {
    -webkit-box-shadow: -7px -1px 47px -3px rgba(34, 60, 80, 0.2);
    padding: 20px 0;
    border-radius: 10px;
    margin: 10px;
    background-color: $bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
}