.home {
    background-color: $bg-color;
    -webkit-box-shadow: 0px 20px 47px -3px rgba(34, 60, 80, 0.2);
    padding: 50px 0;
    border-radius: 10px;
    margin: 20px 10px;
    user-select: none;

    &__content {
        display: flex;
        column-gap: 20px;
        column-count: 4;
        flex-wrap: wrap;
    }

    &__delete {
        float: right;
        font-size: 30px;
        transition: .1s color ease-in-out;
        cursor: pointer;

        &:hover {
            transition: .1s all ease-in-out;
            color: red;
        }

        &:active {
            scale: 1.1;
            color: rgb(131, 0, 0);
        }
    }

    &__add-to-cart {
        cursor: pointer;
        transition: .2s all;

        &:hover {
            color: red;
            transition: .2s all;
        }

        &:active {
            transform: scale(1.1);
        }
    }

    &__card {
        width: 285px;
        -webkit-box-shadow: 0px 0px 19px -7px rgba(34, 60, 80, 0.2);
        margin-bottom: 20px;
        border: 1px solid #e3e3e3;
        border-radius: 20px;
        padding: 10px;
        height: 600px;
        transition: all .2s ease;
        position: relative;
        background-color: $card-bg;
        border: 1px solid $bg-color;

        cursor: pointer;
        transition: 0.3s ease;

        &:hover {
            transform: scale(1.01);
            background-color: $bg-color;
        }
    }

    &__img {
        display: flex;
        margin: 10px auto;
        max-width: 270px;
        height: 300px;
    }

    .item {
        &__description {
            margin-top: 10px;
            cursor: pointer;
            user-select: none;
            width: 275px;
            height: 100px;
            overflow: hidden;

            &__active {
                cursor: pointer;
                user-select: none;
                height: auto;
            }
        }
    }


    &__price {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        margin-top: 10px;
    }

    &__title {
        display: flex;
        justify-content: center;
    }

}