@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@600&family=Montserrat:wght@400;600;700&display=swap');

$bg-color: #fefefe;
$form: #fcfcfc;
$select-color: #fff;
$select-background: rgb(18, 95, 171);
$select-width: 220px;
$select-height: 40px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;

    a {
        color: #333;
    }
}

button {
    cursor: pointer;
    background: rgb(18, 95, 171);
    border-radius: 10px;
    border: none;
    color: white;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,
h2,
h3 {
    font-family: 'Geologica', sans-serif;
}

p,
h4,
a {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

@import 'header';
@import 'popup';
@import 'home';
@import 'product';
@import 'add-post';
@import 'comment';
@import 'footer';
@import 'profile';